/* CSS de la page Projets */
/*test de loic*/
/* Header banner */
#Service_Banner {
  height: 20em;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/Background_Service.jpg");
}

/* Corp page */
section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: Black;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 2em;
}
section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: Black;
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  background-color: #d2d2d2;
  height: 2em;
}

section h3 {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: Black;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20%;
  background-color: #d2d2d2;
  height: 2em;
}
section p, section ul {
  width: 60%;
  font-family: Arial;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

/* Pour les écrans inférieurs à 1024px de large */
@media screen and (max-width: 1024px)
{
  section p {
    width: 85%;
  }
}
