#Services_full {
	display: flex;
	width: 100%;
}

#Services_mob {
	display: none;
}

#Services_full a {
	width: 25%;
	min-width: 25%;
	max-width: 25%;
	min-height: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Services_full p {
	min-width: 10%;
	width: 10%;
	margin: auto 0 auto 0;
	position: absolute;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	border-bottom: solid white 2px;
	font-family: "Bebas", sans-serif;
	font-weight: bold;
	font-size: 2.8em;
	color: white;
}

.service_full_pic {
	position: relative;
	left: 100%;
	width: 100%;
	min-width: 100%;
	height: auto;
}

.audiovisuel_full_pic {
	position: relative;
	left: 50%;
	width: 100%;
	min-width: 100%;
	height: auto;
}

.social_full_pic {
	position: relative;
	left: 50%;
	width: 100%;
	min-width: 100%;
	height: auto;
}

.materiel_full_pic {
	position: relative;
	left: 50%;
	width: 100%;
	min-width: 100%;
	height: auto;
}

.Web_hover {
	opacity: 0;
	position: relative;
	right: 100%;
	z-index: 998;

	min-width: 200%;
	min-height: 100%;
	margin: 0;

	-webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */

  /* webkit example */
  background-image: -webkit-gradient(
    linear, left bottom, left top, from(rgba(255, 0, 45, 1.0)),
    to(rgba(255, 0, 45, 0))
  );

  /* mozilla example - FF3.6+ */
  background-image: -moz-linear-gradient(
    bottom center,
    rgba(255, 0, 45, 1), rgba(255, 0, 45, 0)
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColorStr=#FFFFFF
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColoStr=#FFFFFF
  );

}

.Bloc_web:hover>.Web_hover {
	opacity: 1;
}

.Audiovisuel_hover {
	opacity: 0;
	position: relative;
	right: 50%;
	z-index: 998;

	min-width: 100%;
	min-height: 100%;
	margin: 0;

	-webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */

	/* webkit example */
  background-image: -webkit-gradient(
    linear, left bottom, left top, from(rgba(0, 182, 65, 1.0)),
    to(rgba(0, 182, 65, 0))
  );

  /* mozilla example - FF3.6+ */
  background-image: -moz-linear-gradient(
    bottom center,
    rgba(0, 182, 65, 1.0) 20%, rgba(0, 182, 65, 0) 95%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColorStr=#FFFFFF
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColoStr=#FFFFFF
  );

}

.Bloc_audiovisuel:hover>.Audiovisuel_hover {
	opacity: 1;
}

.Social_hover {
	opacity: 0;
	position: relative;
	right: 50%;
	z-index: 998;

	min-width: 100%;
	min-height: 100%;
	margin: 0;

	-webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */

	/* webkit example */
  background-image: -webkit-gradient(
    linear, left bottom, left top, from(rgba(0, 128, 209, 1.0)),
    to(rgba(0, 128, 209, 0))
  );

  /* mozilla example - FF3.6+ */
  background-image: -moz-linear-gradient(
    bottom center,
    rgba(0, 128, 209, 1.0) 20%, rgba(0, 128, 209, 0) 95%
  );

  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColorStr=#FFFFFF
  );

  /* IE8 uses -ms-filter for whatever reason... */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
    gradientType=1, startColor=0, endColoStr=#FFFFFF
  );

}

.Bloc_Social:hover>.Social_hover {
	opacity: 1;
}

.Materiel_hover {
	opacity: 0;
	position: relative;
	right: 50%;
	z-index: 998;

	min-width: 100%;
	min-height: 100%;
	margin: 0;

	-webkit-transition: all 0.3s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.3s ease-out; /*compatibilité opéra*/
  transition: all 0.3s ease-out; /* Autre navigateur */


	  /* webkit example */
	  background-image: -webkit-gradient(
	    linear, left bottom, left top, from(rgba(123, 0, 255, 1.0)),
	    to(rgba(123, 0, 255, 0))
	  );

	  /* mozilla example - FF3.6+ */
	  background-image: -moz-linear-gradient(
	    bottom center,
	    rgba(123, 0, 255, 1.0) 20%, rgba(123, 0, 255, 0) 95%
	  );

	  /* IE 5.5 - 7 */
	  filter: progid:DXImageTransform.Microsoft.gradient(
	    gradientType=1, startColor=0, endColorStr=#FFFFFF
	  );

	  /* IE8 uses -ms-filter for whatever reason... */
	  -ms-filter: progid:DXImageTransform.Microsoft.gradient(
	    gradientType=1, startColor=0, endColoStr=#FFFFFF
	  );

}

.Bloc_materiel:hover>.Materiel_hover {
	opacity: 1;
}

@media screen and (max-width: 1280px) {
	#Services_full {
		display: none;
	}

	#Services_mob {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#Services_mob a {
		width: 50%;
		min-width: 50%;
		max-width: 50%;
		min-height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#Services_mob p {
		min-width: 10%;
		width: 10%;
		margin: auto 0 auto 0;
		position: absolute;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 999;
		border-bottom: solid white 2px;
		font-family: "Bebas", sans-serif;
		font-weight: bold;
		font-size: 2.8em;
		color: white;
	}

	.service_mob_pic {
		position: relative;
		left: 100%;
		width: 100%;
		min-width: 100%;
		height: auto;
	}

	.audiovisuel_mob_pic {
		position: relative;
		left: 50%;
		width: 100%;
		min-width: 100%;
		height: auto;
	}

	.social_mob_pic {
		position: relative;
		left: 50%;
		width: 100%;
		min-width: 100%;
		height: auto;
	}

	.materiel_mob_pic {
		position: relative;
		left: 50%;
		width: 100%;
		min-width: 100%;
		height: auto;
	}

	.Web_hover {
		min-width: 200%;
		min-height: 100%;
	}

	.Audiovisuel_hover {
		min-width: 100%;
		min-height: 100%;
	}

	.Social_hover {
		min-width: 100%;
		min-height: 100%;
	}

	.Materiel_hover {
		min-width: 100%;
		min-height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#Services_mob a {
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}


}
