{% extends 'base.html.twig' %}
{% block title %}À propos
{% endblock %}
{% block stylesheets %}<link type="text/css" rel="stylesheet" href="{{asset("css/a_propos.css")}}"/>
{% endblock %}
{% block body%}
    <img src={{asset("images/Background_Service.jpg")}} alt="Banniere contact">
    <h1 class="titre">Historique</h1>
    <p class="texte">« Com » pour la Communication Digitale.<br/>
        « 4 » jeu de mot entre "four" (4) et "for", mot anglais signifiant "Pour".<br/>
        « Up » signifie l’Upgrade, le fait de passer à un niveau superieur.</p>
    <p class="texte">Com4Up fût lancé en Septembre 2017 par 3 collaborateurs travaillant ensemble depuis 2015 sur la création du site web « Faerith’s ». Notre but avec « Com4Up » est d’accompagner les entreprises, associations et particuliers vers le numérique via la création de sites web, la réalisation de vidéos, la gestion de réseaux sociaux ainsi que l’installation et la maintenance du matériel informatique adapté à leur activité.</p>
    <h2 class="titre">Notre vision</h2>
    <p class="texte">L'identité d'une entreprise n'est pas due à un seul facteur, c'est un ensemble d'éléments qui mis bout à bout renforcent votre crédibilité. Cela passe par un site Web moderne, s'adaptant à tout support, élégant, facile d'accès et apportant toutes les informations nécessaires aux visiteurs.</p>
    <p class="texte">A cela s'ajoute un ensemble de réseaux sociaux, lieux où vous avez l'opportunité de faire grandir une communauté fidèle à votre marque.</p>
    <p class="texte">Notre partie Audiovisuelle vous apportera une forte plus-value en présentant concrètement votre travail en vidéo pour ainsi consolider votre proximité avec vos clients.</p>
    <p class="texte">Enfin, l’acquisition de matériel informatique (ordinateur fixe/portable et serveur de stockage) de qualité vous permettra un gain de productivité tout en économisant grâce à une configuration adapté à votre usage (bureautique, modélisation 3D, gaming, …) et durable dans le temps.</p>
    <p class="texte">Com4Up s’engage à vous offrir une prestation de qualité afin de donner une meilleure exposition à vos activités.</p>
{% endblock %}
