{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}<link type="text/css" rel="stylesheet" href={{asset("css/contact.css")}} />{% endblock %}
{% block body%}
<p>En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient utilisées, exploitées, traitées pour permettre de me recontacter, pour m’envoyer la newsletter, dans le cadre de la relation commerciale qui découle de cette demande de devis.</p>

{% endblock %}
