{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/contact.css")}} />
{% endblock %}
{% block body%}
<img src={{asset("images/banniere-contact.jpg")}} alt="Banniere contact">
<form>
  <div id="contactTop">
    <div class="contactTopInput">
      <label for="check_nom">Nom</label>
      <input id="check_nom"></input>
    </div>
    <div class="contactTopInputRight">
      <label for="check_prenom">Prénom</label>
      <input id="check_prenom"></input>
    </div>
    <div class="contactTopInput">
      <label for="check_mail">E-Mail</label>
      <input id="check_mail"></input>
    </div>
    <div class="contactTopInputRight">
      <label for="check_entreprise">Entreprise/Organisme<span id="small"> &nbsp;- Optionnel</span></label>
      <input id="check_entreprise"></input>
    </div>
  </div>
  <div id="Categorie">
    <p>Catégorie</p>
    <div class="CategorieLine">
      <input type="checkbox" name="" value="" id="check_web"><label for="check_web">Site web</label>
    </div>
    <div class="CategorieLine">
      <input type="checkbox" name="" value="" id="check_audiovisuel"><label for="check_audiovisuel">Audiovisuel</label>
    </div>
    <div class="CategorieLine">
      <input type="checkbox" name="" value="" id="check_social"><label for="check_social">Réseaux sociaux</label>
    </div>
    <div class="CategorieLine">
      <input type="checkbox" name="" value="" id="check_materiel"><label for="check_materiel">Matériel</label>
    </div>

  </div>
  <div id="Objet">
    <label  for="check_object">Objet</label>
    <input id="check_object"></input>
  </div>

  <div id="Message">
    <label for="check_message">Votre message</label>
    <textarea name="name" rows="8" cols="80" id="check_message"></textarea>
  </div>
  <div id="Consent">
    <input type="checkbox" name="" value=""><label>En soumettant ce formulaire, j'accepte que les informations saisies dans ce formulaire soient utilisées, exploitées, traitées pour permettre de me recontacter, pour m’envoyer la newsletter, dans le cadre de la relation commerciale qui découle de
      cette demande de devis.</label>
  </div>

  <button type="button" name="button">ENVOYER</button>
</form>

{% endblock %}
