{% extends 'base.html.twig' %}
{% block title %}Projets{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href={{asset("css/projets.css")}} />{% endblock %}
{% block body%}

<img id="Bandeau" src={{asset("images/banniere-projets.jpg")}} alt="Bandeau">

<div id="Une_Ligne">
  <h1 id="Titre_Principal">Travaux Récents</h1>
  <ul id="Categorie_Selection">
    <li>
      Tous
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Site Web
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Audiovisuel
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Réseaux Sociaux
    </li>
    <li class="Espace_Slash">
      /
    </li>
    <li>
      Matériel
    </li>
  </ul>
</div>

<div id="Integrale_Image">
{% set counter = 0 %}
{% for project in projects | slice(0,12) %}
<a href=" projet.URLSite "><img class="Images_Projet" src={{asset("images/projets/com4up.jpg")}} alt="Bandeau"><div class="Projet_hover
{% if project.categorie == "0" %} {% endif %}
{% if project.categorie == "1" %}Projet_hover_web {% endif %}
{% if project.categorie == "2" %}Projet_hover_audiovisuel {% endif %}
{% if project.categorie == "3" %}Projet_hover_social{% endif %}
{% if project.categorie == "4" %}Projet_hover_materiel {% endif %}
"><div class="Projet_hover_border"></div></div></a>
{% set counter = counter + 1 %}
{% endfor %}
{% if counter != 12 %}
{% for i in  counter..11 %}
<a href=""><img class="Images_Projet" src={{asset("images/projets/Projet.jpg")}} alt="Bandeau"></a>
{% set counter = counter + 1 %}
{% endfor %}
{% endif %}
</div>


{% endblock %}
