img {
	max-width: 100%;
	height: auto;
}

form {
  width: 40%;
  margin: 2em auto 2em auto;
}




#contactTop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contactTopInput {
  margin: 0.2em 0 0.2em 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactTopInputRight {
  margin: 0.2em 0 0.2em 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#contactTop label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.contactTopInputRight label {
  width: 80%;
}

#contactTop input {
  border: solid black 1px;
  background: none;
  width: 80%;
  height: 1.7em;
}


#small {
  font-size: 0.7em;
  font-weight: normal;
  position: absolute;
}

#Categorie {
  margin: 2em 0 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#Categorie p {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#Categorie input {
  width: 1.7em;
  height: 1.7em;
}
.CategorieLine {
  display: flex;
  align-items: center;
  margin: 0.2em 0 0.2em 0;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

#Objet {
    margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#Objet input {
  border: solid black 1px;
  background: none;
  height: 1.7em;
}

#Message {
    margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

#Message label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

#Message textarea {
  border: solid black 1px;
  background: none;
  resize: none;
}

#Consent {
  display: flex;
  align-items: center;
  margin: 0.2em 0 0.2em 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.7em;
}
#Consent input {
  width: 2.5em;
  height: 2.5em;
}

button {
  margin: 0 auto 0 auto;
}
