.Image_Profil {
	border-radius: 100%;
}

#Bandeau {
	max-width: 100%;
	height: auto;
}

#Qui {
	text-align: center;
	font-size: 2.5em;
	background-color: #D5D5D5;
	width: 100%;
	font-family: "Bebas", sans-serif;
	height: 2em;
}

#Qui h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
