.Image_Profil {
	border-radius: 100%;
}

#Bandeau {
	max-width: 100%;
	height: auto;
}

#Qui {
	font-size: 2.5em;
	background-color: #D5D5D5;
	width: 100%;
	font-family: "Bebas", sans-serif;

}

#Qui h1 {
	height: 2em;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.Background_Gris {
	background-color: #D5D5D5;
}

.Toute_Section {
	display: flex;
	width: 100%;
}

.Info_Gauche {
	flex-direction: column;
}
