body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-grow: 1;
  background-color: #DCDCDC;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin: auto;
  padding: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#HeaderDesktop {
  position: fixed;
  top: 0;
  height: 4em;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #14cc97 2px;
  width: 100%;
}

#logo {
  font-size: 3.2em;
  margin: auto 0 auto 0.4em;
  font-family: "Starway", sans-serif;
}

#Com {
  color: #0077d2;
}

#Four {
  color: #ff0000;
}

#Up {
  color: #068200;
}

#NavDesktop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#NavDesktop li {
  text-transform: uppercase;
  font-family: "Bebas", sans-serif;
  font-size: 1.7em;
  margin: auto 0.8em auto auto;
}

.Current_page {
  color: #0077d2;
}

main {
  display: flex;
  flex-direction: column;
  margin: 4em 0 0 0;
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  border-top: solid #14cc97 2px;
  width: 100%;
  background-color: #242424;
  color: #fff;
  padding-bottom: 1em;
}

#Footer_info, #Footer_contact, #Footer_Social, #Footer_Legal {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-family: "Montserrat", sans-serif;
  margin: 1em 1.5em auto 1.5em;
}

#Footer_contact h2, #Footer_Social h2, #Footer_Legal h2 {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#Footer_info p {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 0;
  font-family: "Bebas", sans-serif;
}

#Footer_contact p {
  margin: 0;
}

#Footer_Social_ico i {
  margin: 0;
  font-size: 2em;
  margin-right: 0.25em;
}

#Footer_Legal p {
  margin: 0;
}

#Footer_contact a:hover, #Footer_Legal a:hover {
    color: #ff0000;
  }

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-linkedin:hover {
  color: #0077b5;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 0;
    margin: 0;
    border-top: solid #14cc97 2px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #Footer_info, #Footer_contact, #Footer_Social, #Footer_Legal {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #161616;
    padding: 1em 0 1em 0;
    margin: 0;
  }

  #Footer_Legal {
    border-bottom: 0;
  }

}
