#Services_full {
	display: flex;
	width: 100%;
}

#Services_mob {
	display: none;
}

#Services_full a {
	display: flex;
	width: 25%;
	min-height: auto;
}

.service_full_pic {
	width: 100%;
	height: 100%;
}

.Projet_hover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right:100%;
opacity: 0;
height:100%;
min-width: 100%;
  -webkit-transition: all 0.2s ease-out; /*compatibilité chrome*/
  -moz-transition: all 0.2s ease-out; /*compatibilité firefox*/
  -o-transition: all 0.2s ease-out; /*compatibilité opéra*/
  transition: all 0.2s ease-out; /* Autre navigateur */
}

.Projet_hover_border {
	height:100%;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Projet_hover:hover {
  opacity: 1;
}

.Projet_hover_web {
  background-color: rgba(255, 0, 45, 0.5)
}

.Projet_hover_audiovisuel {
  background-color: rgba(0, 182, 65, 0.5);
}

.Projet_hover_social {
  background-color: rgba(0, 128, 209, 0.5);
}

.Projet_hover_materiel {
  background-color: rgba(123, 0, 255, 0.5);
}



@media screen and (max-width: 1280px) {
	#Services_full {
		display: none;
	}

	#Services_mob {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#Services_mob a {
		display: flex;
		width: 50%;
		min-height: auto;
	}

	.service_mob_pic {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#Services_mob a {
		display: flex;
		width: 100%;
		min-height: auto;
	}

}
