#Services_full {
	display: flex;
	width: 100%;
}

#Services_mob {
	display: none;
}

#Services_full a {
	width: 25%;
	min-height: auto;
}

.service_full_pic {
	width: 100%;
	height: 100%;
}




@media screen and (max-width: 1280px) {
	#Services_full {
		display: none;
	}

	#Services_mob {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#Services_mob a {
		display: flex;
		width: 50%;
		min-height: auto;
	}

	.service_mob_pic {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#Services_mob a {
		display: flex;
		width: 100%;
		min-height: auto;
	}

}
