#Services_full {
	display: flex;
	width: 100%;
}

#Services_mob {
	display: none;
}

#Services_full a {
	width: 25%;
	min-height: auto;
}

.service_full_pic {
	width: 100%;
	height: 100%;
}

.service_title {
	width: 100%;
	height: 100%;
	position: relative;
	right: 0%;
	bottom: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
}

.Projet_hover_web {
  background-color: rgba(255, 0, 45, 0.5)
}

.Projet_hover_audiovisuel {
  background-color: rgba(0, 182, 65, 0.5);
}

.Projet_hover_social {
  background-color: rgba(0, 128, 209, 0.5);
}

.Projet_hover_materiel {
  background-color: rgba(123, 0, 255, 0.5);
}



@media screen and (max-width: 1280px) {
	#Services_full {
		display: none;
	}

	#Services_mob {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#Services_mob a {
		display: flex;
		width: 50%;
		min-height: auto;
	}

	.service_mob_pic {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#Services_mob a {
		display: flex;
		width: 100%;
		min-height: auto;
	}

}
