#Bandeau {
	max-width: 100%;
	height: auto;
}

#Partie_Haute{
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #ff002d;
	color: #212121;
	font-size: 1.5em;
}

#Partie_Sup {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;

}

#Partie_Sup h1 {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	height: 2.5em;
}

#Partie_Basse {
	background-color: #b70020;
	color: white;
	display: flex;
	justify-content: space-around;
	height: 2em;
	align-items: center;
}

#Vide {
	width: 25%;
}

#Partie_Basse h2 {
	display: flex;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	width: 50%;
}

#Partie_Basse i {
	display: flex;
	width: 25%;
	justify-content: flex-end;
	margin-right: 1em;
}

#Selection {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #b70020;
	color: white;
	height: 100%;
}

#Argument_Bandeau {
	display: flex;
	width: 100%;
	background-color: #D5D5D5;
}

#Argument {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 75%;
	margin: 1em auto 1em auto;
}

#Argument h3 {
	font-family: "Bebas", sans-serif;
	font-size: 2em;
}

#Argument p {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

#Categorie {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family: "Bebas", sans-serif;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

#Cat_1, #Cat_2, #Cat_3, #Cat_4, #Cat_5, #Cat_6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% / 3);
	margin: 2em auto 2em auto;
}

#Cat_1 i, #Cat_2 i, #Cat_3 i, #Cat_4 i, #Cat_5 i, #Cat_6 i {
font-size: 2.25em;
}

#Cat_1 h4, #Cat_2 h4, #Cat_3 h4, #Cat_4 h4, #Cat_5 h4, #Cat_6 h4 {
font-size: 1.75em;
margin-top: 0.25em;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
	#Cat_1, #Cat_2, #Cat_3, #Cat_4, #Cat_5, #Cat_6 {
		width: 50%;
		margin: 2em auto 2em auto;
	}

	#Cat_1 h4, #Cat_2 h4, #Cat_3 h4, #Cat_4 h4, #Cat_5 h4, #Cat_6 h4 {
	font-size: 1.5em;
	margin-top: 0.25em;
	}

	#Partie_Sup h1 {
		width: 50%;
		border: 1px solid #b70020;
		margin: -1px;
	}
}
