#Bandeau {
  max-width: 100%;
  height: auto
}

#Partie_Haute {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #7b00ff;
  color: #212121;
  font-size: 1.25em
}

#Partie_Sup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%
}

#Partie_Sup a {
  width: 25%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap
}

#Partie_Sup a h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  height: 3em
}

#Partie_Basse a {
  background-color: #6100c9;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 2.5em;
  align-items: center;
  text-align: center
}

#Vide {
  display: flex;
  width: 5%
}

#Partie_Basse a h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  width: 90%
}

#Partie_Basse a i {
  display: flex;
  width: 5%;
  justify-content: flex-start;
  padding-left: 1em
}

#Selection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #6100c9;
  color: #fff;
  height: 100%;
  width: 100%
}

#Categorie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  min-height: 35vh
}

#Bloc_Droit, #Bloc_Gauche {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%
}

#Distance, #Domicile {
  display: flex;
  font-family: Bebas, sans-serif;
  font-size: 2em;
  align-items: center;
  height: 2.5em;
  padding-left: 1em
}

#Distance i, #Domicile i {
  margin-right: .5em
}

#Partie_Sup a:hover {
  color: #fff
}

.background_gris {
  background-color: #d5d5d5
}

.Mettre_Valeur {
  font-family: Montserrat_Bold
}

.Une_ligne {
  display: flex;
  width: 100%;
  height: 6em;
  align-items: center;
  justify-content: space-between;
}

.texte {
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
}

.prix {
  margin-right: 15vw;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:1280px) {
  #Bloc_Droit, #Bloc_Gauche {
    width: 100%
  }
}

@media screen and (max-width:1024px) {
  #Partie_Sup a {
    width: 50%;
    border: 1px solid #6100c9;
    margin: -1px
  }

  .Une_ligne {
    display: flex;
    width: 100%;
    height: 6em;
    align-items: center;
    padding: 0
  }

  .texte {
    margin-left: 1.5em;
    width: 75%
  }

}
